:host {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0.5em;
  height: 100vh;

  .mat-mdc-list-item {
    border-radius: 10px;
    height: 48px;

    mat-icon {
      color: #ffffffaa;
      margin-left: 24px;
    }

    .mdc-list-item__primary-text {
      color: #ffffffaa;
    }

    &.active {
      background-color: #ffffff22;

      mat-icon {
        color: #ffffff;
      }

      .mdc-list-item__primary-text {
        color: #ffffff;
      }
    }
  }

  .mat-mdc-outlined-button:not(:disabled) {
    color: #ffffff;
    border-color: #ffffff;
  }

}
