:host {

  display: flex;
  flex-direction: column;
  padding: 0 0.5em;

  .mat-mdc-list-item {
    border-radius: 10px;
    height: 48px;

    mat-icon {
      color: #ffffffaa;
      margin-left: 24px;
    }

    .mdc-list-item__primary-text {
      color: #ffffffaa;
    }

    &.active {
      background-color: #ffffff22;

      mat-icon {
        color: #ffffff;
      }

      .mdc-list-item__primary-text {
        color: #ffffff;
      }
    }
  }


}
