<div class="d-flex flex-column h-100 justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center text-center mb-5">
    <img src="assets/icons/swiss-qr-bill.svg" width="120px">
  </div>
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>{{'components.forgotPassword.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-divider class="my-3"></mat-divider>
    <mat-card-content>
      <p>{{'components.forgotPassword.labels.description' | translate}}</p>
      <form (ngSubmit)="forgotPassword()"
            *ngIf="form"
            [formGroup]="form" class="d-flex flex-column gap-3">

        <mat-form-field>
          <mat-label>{{ 'labels.email' | translate }}</mat-label>
          <input autocomplete="username"
                 formControlName="email"
                 matInput
                 required type="email">
          <mat-error *ngIf="emailControl?.errors">{{ emailControl?.errors | errorsPhrase }}</mat-error>
        </mat-form-field>

        <button [disabled]="form.invalid"
                color="primary"
                mat-raised-button
                type="submit">{{'actions.submit' | translate}}
        </button>
        <a color="primary" mat-button routerLink="/auth/login">{{'actions.backToLogin' | translate}}</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
